{
  "Entries": [
    {
      "RequestUri": "/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&$filter=properties%2Fstatus%20eq%20'Failed'",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationRuns/659368f1-45f0-4ab3-99e3-647159be858a\",\r\n      \"name\": \"659368f1-45f0-4ab3-99e3-647159be858a\",\r\n      \"properties\": {\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"third\"\r\n        },\r\n        \"status\": \"Failed\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"osType\": \"Windows\",\r\n        \"startTime\": \"2017-12-03T23:05:01.4228532-08:00\",\r\n        \"endTime\": \"2017-12-04T11:57:34.8551877-08:00\",\r\n        \"computerCount\": 1,\r\n        \"failedCount\": 1,\r\n        \"creationTime\": \"2017-12-03T23:05:01.4228532-08:00\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2017-12-04T11:57:35.3166667-08:00\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationRuns/afb91d65-b7ff-488c-9ff5-8ea1678e3197\",\r\n      \"name\": \"afb91d65-b7ff-488c-9ff5-8ea1678e3197\",\r\n      \"properties\": {\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"third\"\r\n        },\r\n        \"status[...]
