{
  "Entries": [
    {
      "RequestUri": "/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&$filter=properties%2FsoftwareUpdateConfiguration%2Fname%20eq%20'all-01'",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationRuns/900045de-4709-4c72-af35-578a8449cf81\",\r\n      \"name\": \"900045de-4709-4c72-af35-578a8449cf81\",\r\n      \"properties\": {\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"all-01\"\r\n        },\r\n        \"status\": \"InProgress\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"osType\": \"Windows\",\r\n        \"startTime\": \"2017-12-03T23:02:15.5142928-08:00\",\r\n        \"endTime\": null,\r\n        \"computerCount\": 2,\r\n        \"failedCount\": 0,\r\n        \"creationTime\": \"2017-12-03T23:02:15.5142928-08:00\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2017-12-04T08:03:01.0366667-08:00\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationRuns/595159c7-64cb-436f-892d-b44b31970f7a\",\r\n      \"name\": \"595159c7-64cb-436f-892d-b44b31970f7a\",\r\n      \"properties\": {\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"all-01\"\r\n        },\r\n        \"statu[...]
