{
  "Entries": [
    {
      "RequestUri": "/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationRuns/595159c7-64cb-436f-892d-b44b31970f7a?api-version=2017-05-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationRuns/595159c7-64cb-436f-892d-b44b31970f7a\",\r\n  \"name\": \"595159c7-64cb-436f-892d-b44b31970f7a\",\r\n  \"properties\": {\r\n    \"softwareUpdateConfiguration\": {\r\n      \"name\": \"all-01\"\r\n    },\r\n    \"status\": \"Failed\",\r\n    \"configuredDuration\": \"PT2H\",\r\n    \"osType\": \"Windows\",\r\n    \"startTime\": \"2017-12-03T22:01:01.9339046-08:00\",\r\n    \"endTime\": \"2017-12-03T22:35:44.8333333-08:00\",\r\n    \"computerCount\": 2,\r\n    \"failedCount\": 1,\r\n    \"creationTime\": \"2017-12-03T22:01:01.9339046-08:00\",\r\n    \"lastModifiedBy\": null,\r\n    \"lastModifiedTime\": \"2017-12-03T22:36:15.67-08:00\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "05fd3142-4b8e-4b16-8da9-98b4bbfd722d"
  }
}