{
  "Entries": [
    {
      "RequestUri": "/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/test-suc-001?api-version=2017-05-15-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"updateConfiguration\": {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"windows\": {\r\n        \"includedUpdateClassifications\": \"Critical,Security\",\r\n        \"excludedKbNumbers\": [\r\n          \"KB123\",\r\n          \"KB123\"\r\n        ]\r\n      },\r\n      \"duration\": \"PT3H\",\r\n      \"azureVirtualMachines\": [\r\n        \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/compute-01/providers/Microsoft.Compute/virtualMachines/vm-arm-01\"\r\n      ]\r\n    },\r\n    \"scheduleInfo\": {\r\n      \"startTime\": \"2018-05-05T19:26:00Z\",\r\n      \"interval\": 1,\r\n      \"frequency\": \"Day\",\r\n      \"timeZone\": \"America/Los_Angeles\"\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/test-suc-001\",\r\n  \"name\": \"test-suc-001\",\r\n  \"properties\": {\r\n    \"updateConfiguration\": {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"windows\": {\r\n        \"includedUpdateClassifications\": \"Critical, Security\",\r\n        \"excludedKbNumbers\": [\r\n          \"KB123\",\r\n          \"KB123\"\r\n        ]\r\n      },\r\n      \"linux\": null,\r\n      \"duration\": \"PT3H\",\r\n      \"azureVirtualMachines\": [\r\n        \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/compute-01/providers/Microsoft.Compute/virtualMachines/vm-arm-01\"\r\n      ],\r\n      \"nonAzureComputerNames\": null\r\n    },\r\n    \"scheduleInfo\": {\r\n      \"description\": null,\r\n      \"startTime\": \"2018-05-05T19:26:00-07:00\",\r\n      \"startTimeOffsetMinutes\": -420.0,\r\n      \"expiryTime\": \"9999-12-31T15:59:00-08:00\",\r\n      \"expiryTimeOffsetMinutes\": -480.0,\r\n      \"isEnabled\": true,\r\n      \"nextRun\": \"2018-05-05T19:26:00-07:00\",\r\n      \"nextRunOffsetMinutes\": -420.0,\r\n      \"interval\": 1,\r\n      \"frequency\": \"Day\",\r\n      \"creationTime\": \"2017-12-05T13:36:05.4433333-08:00\",\r\n      \"lastModifiedTime\": \"2017-12-05T13:36:05.4433333-08:00\",\r\n      \"timeZone\": \"America/Los_Angeles\",\r\n      \"advancedSchedule\": null\r\n    },\r\n    \"provisioningState\": \"Provisioning\",\r\n    \"createdBy\": \"\",\r\n    \"error\": null,\r\n    \"creationTime\": \"2017-12-05T13:36:05.4433333-08:00\",\r\n    \"lastModifiedBy\": null,\r\n    \"lastModifiedTime\": \"2017-12-05T13:36:06.63-08:00\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/test-suc-001?api-version=2017-05-15-preview"
        ],
        "x-ms-location": [
          "https://management.azure.com/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/test-suc-001?api-version=2017-05-15-preview"
        ],
        "ocp-location": [
          "https://management.azure.com/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/test-suc-001?api-version=2017-05-15-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/test-suc-001?api-version=2017-05-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"code\": \"NotFound\",\r\n  \"message\": \"Software update configuration not found\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14994"
        ]
      },
      "StatusCode": 404
    },
[...]
    {
      "RequestUri": "/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations?api-version=2017-05-15-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/all-01\",\r\n      \"name\": \"all-01\",\r\n      \"properties\": {\r\n        \"updateConfiguration\": {\r\n          \"operatingSystem\": \"Windows\",\r\n          \"windows\": {\r\n            \"includedUpdateClassifications\": \"Critical, Security, UpdateRollup, FeaturePack, ServicePack, Definit[...]
    {
      "RequestUri": "/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations?api-version=2017-05-15-preview&$filter=properties%2FupdateConfiguration%2FazureVirtualMachines%2Fany(m:%20m%20eq%20'%2Fsubscriptions%2F05fd3142-4b8e-4b16-8da9-98b4bbfd722d%2FresourceGroups%2Fcompute-01%2Fproviders%2FMicrosoft.Compute%2FvirtualMachines%2Fvm-arm-01')",
      "RequestMethod": "GET",
      [...]
[...]
    {
      "RequestUri": "/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurations/test-suc-002?api-version=2017-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "05fd3142-4b8e-4b16-8da9-98b4bbfd722d"
  }
}