{
  "Entries": [
    {
      "RequestUri": "/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationMachineRuns?api-version=2017-05-15-preview&$filter=properties%2Fstatus%20eq%20'Failed'",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationMachineRuns/a58c1a70-2250-4273-a407-cdb1b0feda63\",\r\n      \"name\": \"a58c1a70-2250-4273-a407-cdb1b0feda63\",\r\n      \"properties\": {\r\n        \"targetComputer\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/compute-01/providers/Microsoft.Compute/virtualMachines/vm-arm-01\",\r\n        \"targetComputerType\": \"AzureVirtualMachines\",\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"third\"\r\n        },\r\n        \"status\": \"Failed\",\r\n        \"osType\": \"Windows\",\r\n        \"correlationId\": \"659368f1-45f0-4ab3-99e3-647159be858a\",\r\n        \"sourceComputerId\": \"282452db-3afa-4538-9461-91f6361b1be1\",\r\n        \"startTime\": \"2017-12-03T23:05:01.7040608-08:00\",\r\n        \"endTime\": \"2017-12-04T11:57:34.8551877-08:00\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"job\": null,\r\n        \"creationTime\": \"2017-12-03T23:05:01.7040608-08:00\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2017-12-04T11:57:35.0033333-08:00\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationMachineRuns/204e0368-6db6-4f58-bffe-8cbb9ae05228\",\r\n      \"name\": \"204e0368-6db6-4f58-bffe-8cbb9ae05228\",\r\n      \"properties\": {\r\n        \"targetComputer\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/compu[...]
