{
  "Entries": [
    {
      "RequestUri": "/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationMachineRuns?api-version=2017-05-15-preview&$filter=properties%2FcorrelationId%20eq%20595159c7-64cb-436f-892d-b44b31970f7a",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationMachineRuns/b56021cf-1643-4bfb-99d3-6b798db242f5\",\r\n      \"name\": \"b56021cf-1643-4bfb-99d3-6b798db242f5\",\r\n      \"properties\": {\r\n        \"targetComputer\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/compute-01/providers/Microsoft.Compute/virtualMachines/vm-arm-01\",\r\n        \"targetComputerType\": \"AzureVirtualMachines\",\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"all-01\"\r\n        },\r\n        \"status\": \"Failed\",\r\n        \"osType\": \"Windows\",\r\n        \"correlationId\": \"595159c7-64cb-436f-892d-b44b31970f7a\",\r\n        \"sourceComputerId\": \"282452db-3afa-4538-9461-91f6361b1be1\",\r\n        \"startTime\": \"2017-12-03T22:01:03.0427936-08:00\",\r\n        \"endTime\": \"2017-12-03T22:35:44.8333333-08:00\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"job\": null,\r\n        \"creationTime\": \"2017-12-03T22:01:03.0427936-08:00\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2017-12-03T22:36:15.3566667-08:00\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete-01/providers/Microsoft.Automation/automationAccounts/fbs-aa-01/softwareUpdateConfigurationMachineRuns/cd9d9164-0268-438a-8d8a-dbca25ade827\",\r\n      \"name\": \"cd9d9164-0268-438a-8d8a-dbca25ade827\",\r\n      \"properties\": {\r\n        \"targetComputer\": \"/subscriptions/05fd3142-4b8e-4b16-8da9-98b4bbfd722d/resourceGroups/to-delete/providers/Microsoft.Compute/virtualMachines/mo-arm-02\",\r\n        \"targetComputerType\": \"AzureVirtualMachines\",\r\n        \"softwareUpdateConfiguration\": {\r\n          \"name\": \"all-01\"\r\n        },\r\n        \"status\": \"Succeeded\",\r\n        \"osType\": \"Windows\",\r\n        \"correlationId\": \"595159c7-64cb-436f-892d-b44b31970f7a\",\r\n        \"sourceComputerId\": \"3a919404-fc45-4d2f-aaca-42ca398bbd21\",\r\n        \"startTime\": \"2017-12-03T22:01:02.2462645-08:00\",\r\n        \"endTime\": \"2017-12-03T22:01:30.9866667-08:00\",\r\n        \"configuredDuration\": \"PT2H\",\r\n        \"job\": null,\r\n        \"creationTime\": \"2017-12-03T22:01:02.2462645-08:00\",\r\n        \"lastModifiedBy\": null,\r\n        \"lastModifiedTime\": \"2017-12-03T22:02:04.3933333-08:00\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14999"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "05fd3142-4b8e-4b16-8da9-98b4bbfd722d"
  }
}